*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
}

body{
  background-color: rgb(229, 229, 207);
  text-align: center;
  line-height:1.5;
}

.hero{
    padding: 50px 20px;
}

.hero img{
    border-radius:50%;
    margin-bottom:10px; 
}

.section h2{
    font-size: 22px;

}
.hero h2{
   font-size: 37px; 
}

.accent{
    color:rgb(140, 149, 179)
}

.grid{
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;

}

.grid div{
    padding: 15px;
    border-radius: 10px;
    background-color:#e3c8d6

}


body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


@media (max-width: 768px){
    body{background-color:rgb(233, 243, 253)}
}
